<section class="">
  <footer class="text-center text-white" style="background-color: #0a417598;">
    <div class="container p-1 pb-0">
      <!-- Section: CTA -->
      <section>
        <p class="d-flex justify-content-center align-items-center">
          <button type="button" class="btn btn-outline-light btn-rounded">
            Contactenos Ya!
          </button>
        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">juan.conde@icloud.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>