
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #03427c94;" >
    <a class="navbar-brand" style="color: #050505;"><h3>GIMCA</h3></a>
    <a class="navbar-brand" style="color: #ffffff; "> <h3>Software de Gestion Academica</h3></a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Inicio
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['asignaturas']" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Asignaturas
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['profesores']" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Profesores
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['inscripciones']" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Incripciones
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['estudiantes']" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Estudiantes
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['dashboard']" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Colegios
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
