

    <div class="container">

        <h3>Estudiantes Inscritos</h3><br>

        <!--<button type="button" class="btn btn-primary" (click)="nuevoColegio()">Nuevo Colegio</button>-->

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col"># Estudiantes</th>
                <th scope="col">Nombre del Estudiante</th>
            </tr>
            </thead>
            <tbody>
            <!--CON UN FOR RECORRE LA LISTA DE LA VARIABLE ESTUDIANTES QUE VIENE DEL METODO LISTAR ESTUDIANTES DESDE EL COMPONENTE-->
            <tr *ngFor="let i of estudiantes">
                <th scope="row">{{ i.id}}</th>
                <td>{{ i.nombre}}</td>
            </tr>
            </tbody>
    </table>
    </div>

    <router-outlet></router-outlet>
